<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Hi,</h4>

<div>

<p><b>Would you be interested in acquiring contacts of Mortgage, Banking and Credit Union Professionals?</b></p>

<p><b>Audience:</b> Presidents, Chairmen, CEOs, CFOs, Directors, Vice Presidents, Mortgage loan officers, Senior Management, Attorneys, Mortgage investors, Mortgage lenders, Risk managers, Mortgage Insurers, Mortgage brokers & warehouse lenders, and more...</p>

<p>We can help you reach out to your clients for your marketing initiatives through our customized business contacts. We assure you that all these records are validated and will be verified prior to delivery.</p>

<p>Kindly confirm your Target Audience and Geography, so that I can get back with more relevant information for your review.</p>

<p>Target Industry: _______? (Any) Target Job Title: _______? (Any) Target Geography: _____? (Any)</p>

<p>Looking forward to Hearing from you.</p>


<div>
    <p><b>Best regards,</b></p>
 <p><b>Steve Anderson</b></p>
 <p><b>Sr. Marketing Specialist</b></p>
 </p>
</div>

    <span style="color:rgba(0, 0, 0, 0.663)">If you find this email unsolicited, please click here “List-UNSUBSCRIBE" and send we will ensure that you do not receive any further promotional email from our end.</span>
</div>


</body>
</html>