<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Hi,</h4>


<div>

<p><b>Would you be interested in acquiring the database of Medical and Healthcare Professionals?</b></p>

<p>The database is inclusive of the complete contact details and verified email addresses from the below audience sector.</p>

<p>Healthcare Management, Executives, Paediatrics, Anesthesiology, Cardiology, Chiropractic, Dentist, Dermatology, Emergency, Family Practice, Emergency Medicine, Gynecology, Internal medicine, Gastroenterology, Haematology, Obstetrics/Gynecology, Neurology, Ophthalmology, Oncology, Orthopedic Surgery, Optometry, Pathology, Otorhinolaryngology, Plastic Surgery, Radiology, Psychiatry, Nurse, Registered Nurses (RN), Urology and many more.
</p>

<p>If you are interested, please let me know your target audience and geography. I will get back to you with counts, pricing, and other relevant information.</p>

<p><b>Target Audience: ____________?</b></p>
<p><b>Target Geography: ___________?</b></p>

<p>Looking forward to Hearing from you.</p>


<div>
    <p><b>Best regards,</b></p>
 <p><b>Steve Anderson</b></p>
 <p><b>Sr. Marketing Specialist</b></p>
 </p>
</div>

<span style="color:rgba(0, 0, 0, 0.663)">If you find this email unsolicited, please click here “List-UNSUBSCRIBE" and send we will ensure that you do not receive any further promotional email from our end.</span>
</div>


</body>
</html>